body {
  color: #434455;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
:root {
  --main-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
  --accent-color: #4d5ae5;
  --accent-color-second: #404bbf;
  --accent-background-color: #2e2f42;
}
/* всі зображення повині бути блоковими */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* скидання дефолтного стиля маркера */
.list {
  list-style: none;
  padding: 0;
}
/* скидання дефолтного стиля підкреслювання */
.link {
  text-decoration: none;
}
/* скидання обовязкове відступів заголовків та параграфів, які є у браузері по замовченню */
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

/* heder */
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-bloc {
  display: flex;
  margin: 0 auto;
  padding: 0 15px;
  width: 1158px;
}
.nav-content {
  display: flex;
  align-items: center;
  margin-right: 332px;
}
.logo {
  font-family: var(--secondary-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);

  margin-right: 76px;
}

.logo-studio {
  color: #2e2f42;
}
.menu-nav {
  display: flex;
  gap: 40px;
}

.list-item {
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
  color: #2e2f42;

  padding-top: 24px;
  padding-bottom: 24px;
}
.list-item:hover,
.list-item:focus {
  color: var(--accent-color-second);
}
.menu-address {
  font-style: normal;
}
.menu-adress-list {
  display: flex;
  gap: 40px;
}
.contact-item {
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
  color: #434455;
}

.contact-item:hover,
.contact-item:focus {
  color: var(--accent-color-second);
}

/* section first */
.container {
  padding: 0 15px;
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* в секціях потрібно вказувати тільки падінги */
.section-first {
  background-color: var(--accent-background-color);
  padding-top: 188px;
  padding-bottom: 188px;
}
.heder-style {
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;

  letter-spacing: 0.02em;
  color: #ffffff;

  max-width: 496px;
  margin: 0 auto;
  /* margin-right: auto;
  margin-left: auto; - це альтернатива margin: 0 auto;*/
}
.button-order-service {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;

  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;

  margin-top: 48px;
  /* щоб було посередені  margin: 0 auto; */
  margin: 0 auto;
}
.button-order-service:hover,
.button-order-service:focus {
  background-color: var(--accent-color-second);
}
/* section-second */
.heder-section-second {
}
.section-second {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-second-list {
  display: flex;
  gap: 24px;
}
.section-second-list-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
  text-align: start;
}
.name-of-heder {
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 0;
  margin-bottom: 8px;
}
.paragraf-section-second {
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
  color: #434455;
}
/* section-therd */
.section-therd {
  padding-bottom: 120px;
}
.heder-section-tretd {
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;

  margin-bottom: 72px;
  padding: 0;
}
.section-therd-list {
  display: flex;
  gap: 24px;
}
.section-therd-list-item {
  flex-basis: calc((100% - 48px) / 3);
}
/* section-four */
.section-four {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.heder-section-four {
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;

  margin-bottom: 72px;
  padding: 0;
}
.section-four-list {
  display: flex;
  gap: 24px;
}
.heder-name {
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  line-height: 1.2;

  letter-spacing: 0.02em;
  color: #2e2f42;

  text-align: center;
  margin-bottom: 8px;
  padding: 0;
}
.paragraf-section-four {
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
  color: #434455;

  text-align: center;
}
.secction-four-list-item {
  background-color: #ffffff;
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.employee-desctiption {
  padding: 32px 16px;
}
/* footer */

.footer {
  padding: 100px 156px;
  background: #2e2f42;
}
.logo-footer {
  font-family: var(--secondary-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  text-transform: uppercase;

  color: var(--accent-color);
  display: flex;
  margin-bottom: 16px;
}
.logo-studio-footer {
  color: #f4f4fd;
}
.paragraf-footer {
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  max-width: 264px;
  text-align: start;
}
/* PORTFOLIO */
.section-main {
  padding: 96px 0 120px;
}
.filters-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.btn-decoration:hover,
.btn-decoration:focus {
  color: #ffffff;
  background-color: var(--accent-color-second);
  border: 1px solid transparent;
}
.filter-btn {
  background: var(--secondary-font-family);
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  text-align: center;
  color: var(--accent-color);
  background: #f4f4fd;
  cursor: pointer;

  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
.cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.cards-list-item {
  width: calc((100% - 48px) / 3);
}
.card-description {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.header-card {
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.paragraf-card {
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
